/*? 🎨 Paletas de colores personalizadas */

@theme {
  /*? -  Yellow New - */
  --color-yellow-new-50: #fef7e7;
  --color-yellow-new-100: #fbe9bb;
  --color-yellow-new-200: #f9db90;
  --color-yellow-new-300: #f7cd64;
  --color-yellow-new-400: #f5c242;
  --color-yellow-new-500: #f2b10d;
  --color-yellow-new-600: #c7910a;
  --color-yellow-new-700: #9b7108;
  --color-yellow-new-800: #6f5206;
  --color-yellow-new-900: #443204;
  --color-yellow-new-950: #181201;

  /*? -  Teal New - */
  --color-teal-new-50: #ecf8f8;
  --color-teal-new-100: #cbebec;
  --color-teal-new-200: #a9dedf;
  --color-teal-new-300: #88d2d3;
  --color-teal-new-400: #58c1c2;
  --color-teal-new-500: #45b8ba;
  --color-teal-new-600: #389799;
  --color-teal-new-700: #2c7677;
  --color-teal-new-800: #205556;
  --color-teal-new-900: #133434;
  --color-teal-new-950: #071213;

  /*? -  Pastel - */
  --color-pastel-yellow: #f1f38d;
  --color-pastel-green: #8df3c2;
  --color-pastel-violet: #c695f4;
  --color-pastel-rose: #f38dbe;
  --color-pastel-orange: #f4c695;

  /*? -  Pastel yellow 200 - */
  --color-pastel-yellow-50: #fcfde8;
  --color-pastel-yellow-100: #f7f8be;
  --color-pastel-yellow-200: #f1f38d;
  --color-pastel-yellow-300: #edef6b;
  --color-pastel-yellow-400: #e8eb42;
  --color-pastel-yellow-500: #e3e718;
  --color-pastel-yellow-600: #babd14;
  --color-pastel-yellow-700: #919410;
  --color-pastel-yellow-800: #696a0b;
  --color-pastel-yellow-900: #404107;
  --color-pastel-yellow-950: #171702;

  /*? -  Pastel green 200 - */
  --color-pastel-green-50: #e8fdf3;
  --color-pastel-green-100: #bef8dc;
  --color-pastel-green-200: #8df3c2;
  --color-pastel-green-300: #6befb0;
  --color-pastel-green-400: #42eb99;
  --color-pastel-green-500: #18e783;
  --color-pastel-green-600: #14bd6b;
  --color-pastel-green-700: #109454;
  --color-pastel-green-800: #0b6a3c;
  --color-pastel-green-900: #074125;
  --color-pastel-green-950: #02170d;

  /*? -  Pastel violet 200 - */
  --color-pastel-violet-50: #f3e8fd;
  --color-pastel-violet-100: #dcbef8;
  --color-pastel-violet-200: #c695f4;
  --color-pastel-violet-300: #b06bef;
  --color-pastel-violet-400: #9942eb;
  --color-pastel-violet-500: #8318e7;
  --color-pastel-violet-600: #6b14bd;
  --color-pastel-violet-700: #541094;
  --color-pastel-violet-800: #3c0b6a;
  --color-pastel-violet-900: #250741;
  --color-pastel-violet-950: #0d0217;

  /*? -  Pastel rose 200 - */
  --color-pastel-rose-50: #fde8f2;
  --color-pastel-rose-100: #f8beda;
  --color-pastel-rose-200: #f38dbe;
  --color-pastel-rose-300: #ef6bab;
  --color-pastel-rose-400: #eb4294;
  --color-pastel-rose-500: #e7187c;
  --color-pastel-rose-600: #bd1466;
  --color-pastel-rose-700: #94104f;
  --color-pastel-rose-800: #6a0b39;
  --color-pastel-rose-900: #410723;
  --color-pastel-rose-950: #17020c;

  /*? -  Pastel orange 200 - */
  --color-pastel-orange-50: #fdf3e8;
  --color-pastel-orange-100: #f8dcbe;
  --color-pastel-orange-200: #f4c695;
  --color-pastel-orange-300: #efb06b;
  --color-pastel-orange-400: #eb9942;
  --color-pastel-orange-500: #e78318;
  --color-pastel-orange-600: #bd6b14;
  --color-pastel-orange-700: #945410;
  --color-pastel-orange-800: #6a3c0b;
  --color-pastel-orange-900: #412507;
  --color-pastel-orange-950: #170d02;
}