/*? 🔤 Tipografías personalizadas */

@theme {
  --font-mono: "IBM Plex Mono", monospace;
  --font-inter: "Inter", sans-serif;
  --font-anuphan: "Anuphan", sans-serif;
  --font-outfit: "Outfit", sans-serif;
  --font-title: "Sono", sans-serif;
  --font-body: "Geist", sans-serif;
}
