/*? 🌐 Variables globales */

:root {
  --foreground: #1e293b;
  --background: #ffffff;
  --primary-btn: #33b3de;
  --primary-title: #7864e6;
  --secondary-btn: #7c87ea;
  --accent: #2c199a;
}

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary-btn: var(--primary-btn);
  --color-primary-title: var(--primary-title);
  --color-secondary-btn: var(--secondary-btn);
  --color-accent: var(--accent);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #1e293b;
    --foreground: #ededed;
    --primary: #21a0ca;
    --secondary: #152084;
    --accent: #7864e6;
    --primary-title: #7c87ea;
  }
}